  
  .table {
    margin: 1em;
    display: flex;
    flex-direction: column;
  }
    
    .header, .row {
      display: flex;
    }
    .header, .row div {
      flex: 1;
      padding: 0.2rem 0.4em;
      border: 1px solid rgb(238, 238, 238);
    }
    
    .header {
      background-color: rgb(238, 238, 238);
      
    }
    .header div { 
      cursor: pointer;
      padding-right: 300px;
    }
  .center{
  justify-content: center;
  text-align: center;
  }
